[user]
	; Gitアカウント情報
	name = Rem_
	email = black.white.red.are.the.best@gmail.com
[credential]
	; 認証情報を保存する (24時間キャッシュする)
	helper = cache --timeout=86400
[safe]
	; ディレクトリの安全性を保証する (全てのディレクトリ)
	directory = *
[core]
	; 改行コードを自動的に変換する (チェックアウト=>元のまま,コミット=>Linuxの改行コードへの変換)
	autocrlf = input
	; `git status`を実行した際に日本語ファイル名をエンコードする (エンコードしない)
	quotepath = false
	; `git commit`などを実行した際に指定したエディタを開く
	editor = code --wait
[commit]
	; `git commit`を実行した際にテンプレートを表示する
	template = /home/silverag/workspace/Git/git/git-commit-message-template/.git_commit_message_template
[fetch]
	; `git fetch`を実行した際にリモートで削除されたブランチをローカルでも削除する (削除する)
	prune = true
[push]
	; `git push`を実行した際にブランチを自動的に指定する (現在のブランチを指定する)
	default = current
[rebase]
	; `git rebase`を実行した際に自動的に`git stash`も実行する (実行する)
	autostash = true
[alias]
	; `git log`を実行した際に整形したログを出力する
	ll = log -n 10 --graph --date=iso --decorate=short --pretty=format:'[%ad][%cd][%h]%Cgreen[%an]%Cred%d %Creset%s'
